<div class="sidebar-container">
  <div class="sidebar-header">
    <span class="menu-label">MENU</span>
  </div>
  
  <div class="sidebar-menu">
    @for (item of menuItems; track item.title) {
      <div class="menu-group" [class.open]="item.expanded">
        <div
          class="menu-group-header"
          [class.expanded]="item.expanded"
          (click)="toggleMenu(item)"
        >
          <span>{{ item.title }}</span>
          <mat-icon class="expand-icon" [class.rotated]="item.expanded">expand_more</mat-icon>
        </div>

        <div class="menu-items-wrapper" [class.open]="item.expanded">
          <div class="menu-items-inner">
            <div class="menu-items">
              @for (child of item.children; track child.title) {
                @if (child.route && child.route !== '#') {
                  <a class="menu-item" [routerLink]="child.route" routerLinkActive="active">
                    <mat-icon class="menu-icon">{{ child.icon }}</mat-icon>
                    <span class="menu-text">{{ child.title }}</span>
                  </a>
                } @else {
                  <a
                    class="menu-item menu-item--placeholder"
                    href="#"
                    (click)="$event.preventDefault()"
                  >
                    <mat-icon class="menu-icon">{{ child.icon }}</mat-icon>
                    <span class="menu-text">{{ child.title }}</span>
                  </a>
                }
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
