<h2 mat-dialog-title class="country-locale-dialog__title">Choose country &amp; locale</h2>

<mat-dialog-content class="country-locale-dialog__body app-outlined-form">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select Country</mat-label>
    <mat-select [(ngModel)]="work.country" name="dlgCountry">
      <mat-option value="usa">USA</mat-option>
      <mat-option value="ca">Canada</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select State</mat-label>
    <mat-select [(ngModel)]="work.state" name="dlgState">
      <mat-option value="illinois">Illinois</mat-option>
      <mat-option value="california">California</mat-option>
      <mat-option value="ny">New York</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select Locale</mat-label>
    <mat-select [(ngModel)]="work.locale" name="dlgLocale">
      <mat-option value="chicago">Chicago</mat-option>
      <mat-option value="la">Los Angeles</mat-option>
      <mat-option value="nyc">New York City</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="country-locale-dialog__actions">
  <button mat-flat-button type="button" class="btn-dialog-back" (click)="cancel()">Back</button>
  <button mat-flat-button type="button" class="btn-primary" (click)="save()">Save</button>
</mat-dialog-actions>
