<h2 mat-dialog-title class="country-locale-dialog__title">Choose country &amp; locale</h2>

<mat-dialog-content class="country-locale-dialog__body app-outlined-form">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select Country</mat-label>
    <mat-select [(ngModel)]="work.country" name="dlgCountry" (selectionChange)="onCountryChange()">
      @for (country of countries; track country.id) {
        <mat-option [value]="country.id">{{ country.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select State</mat-label>
    <mat-select [(ngModel)]="work.state" name="dlgState" (selectionChange)="onStateChange()" [disabled]="!work.country">
      @for (state of states; track state.id) {
        <mat-option [value]="state.id">{{ state.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Select Locale</mat-label>
    <mat-select [(ngModel)]="work.locale" name="dlgLocale" [disabled]="!work.state">
      @for (locale of locales; track locale.id) {
        <mat-option [value]="locale.id">{{ locale.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="country-locale-dialog__actions">
  <button mat-flat-button type="button" class="btn-dialog-back" (click)="cancel()">Back</button>
  <button mat-flat-button type="button" class="btn-primary" (click)="save()">Save</button>
</mat-dialog-actions>
